.formulario-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .formulario-intro {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      color: #666;
    }
  }

  .formulario-card {
    border-radius: 20px;
    box-shadow: 0 8px 8px rgb(47, 206, 218);
    overflow: hidden;
    transition: box-shadow 0.8s ease;

    &:hover {
      box-shadow: 0 8px 16px rgba(180, 32, 209, 0.438);
    }

    .form {
      padding: 20px;

      label {
        margin-bottom: 10px;
        font-weight: bold;
        display: block;
      }

      input,
      select {
        width: calc(100% - 16px);
        padding: 12px;
        margin-top: 7px;
        margin-bottom: 17px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
      }

      button {
        font-size: 20px;
        width: calc(100% - 16px);
        padding: 10px;
        background-color: #16aacf;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 1s ease;

        &:hover {
          background-color: #b426df;
        }
      }
    }
  }
