
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;

}

body{
    background-color: #0c0c1d;
    color: lightgray;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    height: 115vh;
    scroll-snap-align: center;
}


#Contact {
    font-family: Arial, sans-serif;
    h2 {
      font-size: 50px;
      color: #fffffff8;
      margin-bottom: 10px;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 20px;
      color: #ffffff98;
      line-height: 1.5;
    }
    #result-card {
        margin: 50px auto;
        max-width: 600px;
        background-color: #1f1f3f;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      #result-card img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      #result-card .value {
        font-size: 24px;
        color: #fff;
        text-align: center;
      }

      #result-card .details {
        font-size: 20px;
        color: #ffffff;
        text-align: center;
      }
  }
  @mixin mobile {
    @media (max-width: 738px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @mixin desktop {
    @media (max-width: 1366px) {
      @content;
    }
  }